/* ==========================================================================
   Dark skin
   Imported in /assets/css/main-light.scss
   ========================================================================== */

/* Colors */
$background-color: #000000 !default;
$text-color: #eaeaea !default;
$primary-color: #ED1B2F !default;
$border-color: mix(#fff, $background-color, 20%) !default;
$code-background-color: mix(#000, $background-color, 15%) !default;
$code-background-color-dark: mix(#000, $background-color, 20%) !default;
$form-background-color: mix(#000, $background-color, 15%) !default;
$footer-background-color: mix($text-color, $background-color, 5%) !default;
$link-color: mix($primary-color, $text-color, 100%) !default;
$link-color-hover: mix($background-color, $link-color, 15%) !default;
$link-color-visited: mix(#000, $link-color, 0%) !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: mix(#000, $text-color, 20%) !default;

.author__urls.social-icons i,
.author__urls.social-icons .svg-inline--fa,
.page__footer-follow .social-icons i,
.page__footer-follow .social-icons .svg-inline--fa  {
  color: inherit;
}

.ais-search-box .ais-search-box--input {
  background-color: $form-background-color;
}